[Desktop Entry]
Name=Plank Setting
Name[ko]=Plank 설정
GenericName=Dock
GenericName[ko]=Plank 설정 도구
Comment[ko]=데스크탑 독 plank 환경 설정.
Comment=Stupidly simple.
Categories=Utility;
Type=Application
Exec=plank --preferences
Icon=/usr/share/icons/HamoniKR/apps/scalable/plank-setting.svg
Terminal=false
NoDisplay=false
