Source: hamonikr-themes-extra
Section: gnome
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 9), sassc
Standards-Version: 3.9.5

Package: hamonikr-themes-extra
Replaces: libplank-common, mint-clearloox-theme, mint-x-theme, mint-y-theme, mint-z-theme, mint-themes-gtk3, cinnamon-themes, hamonikr-jin-themes
Conflicts: mint-clearloox-theme, mint-x-theme, mint-y-theme, mint-z-theme, mint-themes-gtk3, cinnamon-themes
Depends: plank
Recommends: fonts-nanum, fonts-nanum-coding, fonts-nanum-extra, fonts-noto-cjk-extra, hamonikr-icons, hamonikr-backgrounds
Architecture: all
Description: HamoniKR gtk and Cinnamon themes
 Mac like theme for HamoniKR 5.0.
